h4 {
color: #808080;
}
.main {
text-align: center;
}
table {
   border: 1px solid grey;
   border-collapse: collapse;
   margin: auto;
}
th {
   border: 1px solid grey;
   text-align: center;
}
td {
   border: 1px solid grey;
}