<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href={{url_style}}/>
    <title>{{title}}</title>
</head>
<body>
{% if current_user.is_authenticated %}
<a class="navbar-brand" href="/logout">{{ current_user.name }}</a>
{% else %}
<p>
    <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
    <a class="btn btn-success" href="/login">Войти</a>
</p>
{% endif %}
<h1>Миссия колонизация Марса</h1>
<div class="begining">
    <h4>И на Марсе будут яблони цвести!</h4>
</div>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>